.squares {
    background-color: grey;
    aspect-ratio: 1;
    min-height: 5px;
    flex-grow: 1;
}


.main {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1;
    border: 1px solid #000;
    align-items: flex-start;
    justify-content: center;
    height: 600px;
    overflow: hidden;
}

